.tabs_filter {
  .ant-tabs {
    &-tab {
      display: block !important;

      &:hover {
        color: #c7eec7;
      }

      &-active {
        .ant-tabs-tab-btn{
          border: none;
          color: #578f57 !important;
        }
      }
      &-btn:focus {
        color: #578f57 !important;
      }
    }


  }


  .ant-tabs-ink-bar {
    background: #578f57 !important;
    height: 7px;
  }

}