.tasks_table {
  padding-top: 20px;

  .ant-table-row-selected td {
    background-color: rgba(66, 71, 82, 1) !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner{
    background-color: rgba(77, 215, 162, 1) !important;
    border-color: #eeeeee;
  }

  .ant-checkbox-inner:after {
    background-color: rgba(77, 215, 162, 1) !important;
  }
}

.opacity_row {
  td:first-child {
    border-bottom: none;
  }

  td:not(:last-child) {
    text-decoration: line-through;
    color: #a19797;
  }
}

.btn_save {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  box-shadow: none;
  color: rgba(77, 215, 162, .7);
}