.tasks_table{
  padding-top: 20px;
}

.opacity_row {
  td:first-child {
    border-bottom: none;
  }

  td:not(:last-child) {
    text-decoration: line-through;
    color: #a19797;
  }
}

.btn_save{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  box-shadow: none;
  color: rgba(77, 215, 162, .7);
}