.actions_btn_wrapper{
  display: flex;
  justify-content: space-between;
}

.add_btn{
  background: rgba(255, 255, 255, 0.06);
}

.username_block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}