.actions_btn {
  display: flex;
  gap: 10px;
}

.ant-modal-footer {
  padding-top: 20px !important;
  text-align: start !important;
}

.btn_deleted{
  background-color: #DA6F6F;
  border-color: #DA6F6F;
}